<html>
<head>
<meta content="text/html; charset=UTF-8" http-equiv="content-type">
<style type="text/css">
  ol { margin: 0; padding: 0; }
  table td, table th { padding: 0; }
  .c9 { border-right-style: solid; padding: 0pt 5.4pt 0pt 5.4pt; border-bottom-color: #000000; border-top-width: 1pt; border-right-width: 1pt; border-left-color: #000000; vertical-align: top; border-right-color: #000000; border-left-width: 1pt; border-top-style: solid; border-left-style: solid; border-bottom-width: 1pt; width: 246.8pt; border-top-color: #000000; border-bottom-style: solid; }
  .c20 { border-right-style: solid; padding: 0pt 5.4pt 0pt 5.4pt; border-bottom-color: #000000; border-top-width: 1pt; border-right-width: 1pt; border-left-color: #000000; vertical-align: top; border-right-color: #000000; border-left-width: 1pt; border-top-style: solid; border-left-style: solid; border-bottom-width: 1pt; width: 143.4pt; border-top-color: #000000; border-bottom-style: solid; }
  .c10 { border-right-style: solid; padding: 0pt 5.4pt 0pt 5.4pt; border-bottom-color: #000000; border-top-width: 1pt; border-right-width: 1pt; border-left-color: #000000; vertical-align: top; border-right-color: #000000; border-left-width: 1pt; border-top-style: solid; border-left-style: solid; border-bottom-width: 1pt; width: 223.6pt; border-top-color: #000000; border-bottom-style: solid; }
  .c11 { border-right-style: solid; padding: 0pt 5.4pt 0pt 5.4pt; border-bottom-color: #000000; border-top-width: 1pt; border-right-width: 1pt; border-left-color: #000000; vertical-align: top; border-right-color: #000000; border-left-width: 1pt; border-top-style: solid; border-left-style: solid; border-bottom-width: 1pt; width: 225.4pt; border-top-color: #000000; border-bottom-style: solid; }
  .c14 { border-right-style: solid; padding: 0pt 5.4pt 0pt 5.4pt; border-bottom-color: #000000; border-top-width: 1pt; border-right-width: 1pt; border-left-color: #000000; vertical-align: top; border-right-color: #000000; border-left-width: 1pt; border-top-style: solid; border-left-style: solid; border-bottom-width: 1pt; width: 85.5pt; border-top-color: #000000; border-bottom-style: solid; }
  .c13 { border-right-style: solid; padding: 0pt 5.4pt 0pt 5.4pt; border-bottom-color: #000000; border-top-width: 1pt; border-right-width: 1pt; border-left-color: #000000; vertical-align: top; border-right-color: #000000; border-left-width: 1pt; border-top-style: solid; border-left-style: solid; border-bottom-width: 1pt; width: 248.7pt; border-top-color: #000000; border-bottom-style: solid; }
  .c19 { padding-top: 0pt; padding-bottom: 0pt; line-height: 1.1583333333333334; orphans: 2; widows: 2; text-align: justify; height: 12pt; }
  .c0 { color: #000000; font-weight: 400; text-decoration: none; vertical-align: baseline; font-size: 11pt; font-family: "Aptos", Arial, sans-serif; font-style: normal; }
  .c12 { color: #000000; font-weight: 700; text-decoration: none; vertical-align: baseline; font-size: 10pt; font-family: "Aptos", Arial, sans-serif; font-style: normal; }
  .c1 { padding-top: 0pt; padding-bottom: 0pt; line-height: 1.1583333333333334; orphans: 2; widows: 2; text-align: left; }
  .c2 { padding-top: 0pt; padding-bottom: 0pt; line-height: 1.0; orphans: 2; widows: 2; text-align: left; }
  .c25 { padding-top: 0pt; padding-bottom: 8pt; line-height: 1.1583333333333334; orphans: 2; widows: 2; text-align: left; }
  .c26 { padding-top: 0pt; padding-bottom: 8pt; line-height: 1.1583333333333334; orphans: 2; widows: 2; text-align: justify; }
  .c4 { padding-top: 0pt; padding-bottom: 0pt; line-height: 1.0; orphans: 2; widows: 2; text-align: center; }
  .c21 { padding-top: 0pt; padding-bottom: 0pt; line-height: 1.0; orphans: 2; widows: 2; text-align: justify; }
  .c16 { color: #000000; text-decoration: none; vertical-align: baseline; font-style: normal; }
  .c7 { border-spacing: 0; border-collapse: collapse; margin-right: auto; width: 100%; max-width: 100%; }
  .c8 { font-size: 10pt; font-weight: 400; font-family: "Aptos", Arial, sans-serif; }
  .c24 { background-color: #ffffff; max-width: 100%; padding: 24pt 32pt; color: #000000; }
  .c22 { font-weight: 400; font-size: 14pt; font-family: "Aptos", Arial, sans-serif; }
  .c18 { font-weight: 700; font-family: "Aptos", Arial, sans-serif; }
  .c6 { height: 0pt; }
  .c23 { font-weight: 700; }
  .c3 { height: 12.5pt; }
  .c28 { font-size: 6pt; }
  .c15 { font-size: 10pt; font-family: "Aptos", Arial, sans-serif; }
  .c27 { height: 12pt; }
  .c5 { font-size: 11pt; font-family: "Aptos", Arial, sans-serif; }
  .c31 { height: 8pt; }
  .c29 { font-size: 12pt; }
  .c30 { height: 13.1pt; }
  .c17 { height: 7.7pt; }
  .title { padding-top: 0pt; color: #000000; font-size: 28pt; padding-bottom: 4pt; font-family: "Play", serif; line-height: 1.0; orphans: 2; widows: 2; text-align: left; }
  .subtitle { padding-top: 0pt; color: #595959; font-size: 14pt; padding-bottom: 8pt; font-family: "Aptos", Arial, sans-serif; line-height: 1.1583333333333334; orphans: 2; widows: 2; text-align: left; }
  li { color: #000000; font-size: 12pt; font-family: "Aptos", Arial, sans-serif; }
  p { margin: 0; color: #000000; font-size: 12pt; font-family: "Aptos", Arial, sans-serif; }
  h1 { padding-top: 18pt; color: #0f4761; font-size: 20pt; padding-bottom: 4pt; font-family: "Play", serif; line-height: 1.1583333333333334; page-break-after: avoid; orphans: 2; widows: 2; text-align: left; }
  h2 { padding-top: 8pt; color: #0f4761; font-size: 16pt; padding-bottom: 4pt; font-family: "Play", serif; line-height: 1.1583333333333334; page-break-after: avoid; orphans: 2; widows: 2; text-align: left; }
  h3 { padding-top: 8pt; color: #0f4761; font-size: 14pt; padding-bottom: 4pt; font-family: "Aptos", Arial, sans-serif; line-height: 1.1583333333333334; page-break-after: avoid; orphans: 2; widows: 2; text-align: left; }
  h4 { padding-top: 4pt; color: #0f4761; font-size: 12pt; padding-bottom: 2pt; font-family: "Aptos", Arial, sans-serif; line-height: 1.1583333333333334; page-break-after: avoid; font-style: italic; orphans: 2; widows: 2; text-align: left; }
  h5 { padding-top: 4pt; color: #0f4761; font-size: 12pt; padding-bottom: 2pt; font-family: "Aptos", Arial, sans-serif; line-height: 1.1583333333333334; page-break-after: avoid; orphans: 2; widows: 2; text-align: left; }
  h6 { padding-top: 2pt; color: #595959; font-size: 12pt; padding-bottom: 0pt; font-family: "Aptos", Arial, sans-serif; line-height: 1.1583333333333334; page-break-after: avoid; font-style: italic; orphans: 2; widows: 2; text-align: left; }
  table.c7 tr:hover { background-color: #f8fafc; }
  @media print {
    .c24 { padding: 0pt !important; }
    table.c7 tr:hover { background-color: transparent !important; }
  }
</style>
</head>
<body class="c24 doc-content">
<p class="c1"><span class="c18 c5">Date: </span><span class="c5 c23">{{DATE}}</span></p>
<p class="c1"><span class="c18 c5">Meeting #</span><span class="c23 c5">{{MEETING_NUMBER}}</span></p>
{{THEME_SECTION}}
<p class="c19"><span class="c16 c18 c28"></span></p>
<p class="c21"><span class="c16 c18 c5">Club officers:</span></p>
<table class="c7">
  <tr class="c3"><td class="c13" colspan="1" rowspan="1"><p class="c4"><span class="c16 c18 c5">Positions</span></p></td><td class="c10" colspan="1" rowspan="1"><p class="c4"><span class="c16 c5 c18">CRG TM</span></p></td></tr>
  {{CLUB_OFFICERS_ROWS}}
</table>
<p class="c19"><span class="c16 c18 c5"></span></p>
<p class="c21"><span class="c16 c18 c5">Role players :</span></p>
<table class="c7">
  <tr class="c6"><td class="c11" colspan="1" rowspan="1"><p class="c4"><span class="c16 c18 c5">Roles</span></p></td><td class="c9" colspan="1" rowspan="1"><p class="c4"><span class="c16 c18 c5">Names</span></p></td></tr>
  {{ROLE_PLAYERS_ROWS}}
</table>
<p class="c19"><span class="c16 c18 c5"></span></p>
<p class="c21"><span class="c16 c18 c5">Agenda :</span></p>
<table class="c7">
  <tr class="c6"><td class="c14" colspan="1" rowspan="1"><p class="c4"><span class="c12">Time</span></p></td><td class="c9" colspan="1" rowspan="1"><p class="c4"><span class="c12">Program </span></p></td><td class="c20" colspan="1" rowspan="1"><p class="c4"><span class="c12">Accountability</span></p></td></tr>
  {{AGENDA_ROWS}}
</table>
</body>
</html>
